.Dropdown {
	width: 278px;
	height: 59px;
	background: #e2e8f0;
	border-radius: 5px;
	border: none;
	padding: 20px 18px;
	appearance: none;

	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 95%;
	background-position-y: 48%;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 19px;
	cursor: pointer;
	color: #2d3748;
}
