.main {
	width: 100%;
	min-height: 920px;
	padding-top: 44px;
	display: flex;
	justify-content: center;
	.container {
		width: 100%;
		max-width: 1309px;
		display: flex;
		justify-content: space-between;
		.detailesCard {
			width: 60%;
			max-width: 778px;
			height: 100%;
			max-height: 772px;
			background: #f7fafc;
			border-radius: 10px;
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 37px 42px;
			margin-right: 30px;
			.progesStatus {
				width: 534px;
				height: 24px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				span {
					font-style: normal;
					font-weight: 500;
					font-size: 20px;
				}
			}
			.formWapper {
				width: 534px;
			}
			.wapper {
				width: 534px;
				.buttons {
					width: 100%;
					padding-top: 39px;
					height: 99px;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					.cancel {
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						line-height: 19px;
						color: #4a5568;
						margin-right: 50px;
						cursor: pointer;
					}
					.button {
						font-style: normal;
						font-weight: 500;
						font-size: 16px;
						color: #f7fafc;
						padding: 20px 66px;
						background: #3182ce;
						border-radius: 10px;
						cursor: pointer;
					}
				}
			}
			.line {
				width: 694px;
				height: 35px;
				border-bottom: 1px solid #e2e8f0;
			}
		}
		.summaryCard {
			width: 40%;
			max-width: 513px;
			height: 100%;
			max-height: 772px;
			background: #f7fafc;
			border-radius: 10px;
			display: flex;
			justify-content: center;
			padding: 37px 46px;
		}
	}
}
