.formMain {
	width: 100%;
	padding-top: 50px;
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin: 0;
	}

	input[type="number"] {
		-moz-appearance: textfield;
	}
	h2 {
		font-style: normal;
		font-weight: 500;
		font-size: 20px;
		line-height: 24px;

		color: #000000;
	}
	.addressAndcardtype {
		width: 100%;
		height: 59px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		.typetext {
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			color: #2d3748;
		}
	}
	.exprAndcvc {
		width: 100%;
		display: flex;
		justify-content: space-between;
		.expr {
			width: 228px;
			.inputs {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.slash {
					padding: 0px 12px;
					font-style: normal;
					font-weight: 200;
					color: #4a5568;
					font-size: 40px;
				}
				.inputsm {
					width: 100px;
					background: #e2e8f0;
					border-radius: 5px;
					border: none;
					height: 59px;
					text-align: center;
				}
				::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}

				input[type="number"] {
					-moz-appearance: textfield;
				}
			}
		}
		.cvcWrapper {
			width: 278px;
			.labelWrapper {
				width: 100%;
				display: flex;

				.cvclabel {
					margin-right: 5px;
				}
				img {
					cursor: pointer;
				}
			}

			.inputbb {
				width: 278px;
				background: #e2e8f0;
				border-radius: 5px;
				border: none;
				height: 59px;
				padding: 0px 20px;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}

			input[type="number"] {
				-moz-appearance: textfield;
			}
		}
	}
}
